[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hspm"]
	path = hspm
	url = https://github.com/gpiras/hspm
[submodule "sphet"]
	path = sphet
	url = https://github.com/gpiras/sphet
[submodule "spldv"]
	path = spldv
	url = https://github.com/gpiras/spldv
